.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 1rem;
  width: 150px;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  
  border-radius: 10px;

 }



.btn:hover {
  background-position: right center; /* change the direction of the change here */
}
.btn-3 {
  background-image: linear-gradient(to right,rgb(223, 22, 102) 0%, rgb(209, 182, 46)100%);
}   
@media (max-width: 800px){
  .btn{
    width: 100%;
    border-radius: 50px;
  }

}  


